<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/guru.css"
th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
<head lang="en">
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/guru.css"
          th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>
          <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav class="jumbotron navbar navbar-light" style="background-color: #2B3856;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">YouthFarm</a>
    </div>
    <div class="top-menu">
    <ul class="nav navbar-nav list-menu">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="About Us.html">About Us</a></li>
      <li><a href="Our Services.html">Our Services</a></li>
      <li><a href="Updates.html">Updates</a></li>
      <li><a href="Gallery.html">Gallery</a></li>
      <li><a href="Contact Us.html">Contact Us</a></li>
    </ul>
</div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="Create acccount.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="Sign in.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class = "jumbotron">
        
        <h1>Welcome to my website</h1>
        <h2>Project proposal</h2>
    </div>
    <div>
        <img src="C:\Users\user\Desktop\youthfarm\Images\farm1.jpg "/>
    </div>

</div>


</body>
</html>